main {
    width: 100%;

    .create-post-view {
        width: 100%;
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        form {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            .input-group {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }
        }

    }

}