.form-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.form-view form {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form-view .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  width: 100%;
}
.form-view .input-group input {
  width: 100%;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  outline: none;
}
.form-view button {
  padding: 0.7em 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.form-view button:hover {
  background-color: #0056b3;
}